.branding *   {
    width: 100%;
    color: #fff;
    
    font-family: "CHASER";
}
.branding > a {
    text-decoration: none;
    display: block;
    width: fit-content;
}

.branding_logo {
    width: clamp(calc(1.8rem + 0.5vw), 3vw,  calc( 3rem + 0.1vw));
}
  
.branding_title {
    font-size: clamp(calc(0.8rem + 2.5vw), 6vw, 2.5rem);
}