.branding *   {
    width: 100%;
    color: #fff;
    
    font-family: "CHASER";
}
.branding > a {
    text-decoration: none;
    display: block;
    width: fit-content;
}

.branding_logo {
    width: min-content;
    border: solid #fff 0.2rem;
    border-radius: 5rem;
    
    background-color: transparent;
}

/* To change the size of the logo, adjust the div's 
        font-size, line-height, height, and margin
*/
.branding_logo > div {
    font-size: 1.5rem;
    
    line-height: 1.9rem; /* Did this in order To remove the extra space below the text */
    height: 1.6rem;
    margin: 0.4rem;
}
  