/** STYLES FOR THE FILTER (PARENT) **/

.filter {
    display: flex;
}
:root {
    --dropdown-width: 200px;
    --dropdown-padding: 1.5% 8%;
}
/** STYLES FOR THE FILTER END **/



/* STYLES FOR THE DROPDOWN */

.categories-container {
    width: var(--dropdown-width);

}


.dropdown-button {
    width: 100%;
    padding: var(--dropdown-padding);
    display: flex;
    justify-content: center;
}

.dropdown-button > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dropdown_icon {
    width: 0.8rem;
}
.dropdown_icon--flip {
    transform: rotate(180deg);

    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 300ms;
}

.menu-wrapper {
    position: relative;
    width: var(--dropdown-width);
    visibility: hidden;
    opacity: 0;

    transform: translateY(1.5rem);
    transition-property: transform, opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: ease;

}
.menu-wrapper--show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
}

.categories {
    position: absolute;
    height: 80px;
    width: 100%;
    margin-top: 7%;
    padding: var(--dropdown-padding);
    overflow: scroll;
    background-color: #ffffff;
    border-radius: 0.9rem;
}
.category_list_title {
    border-radius: 0;
    
}

/** STYLES FOR THE DROPDOWN END **/



/* STYLES FOR THE SEARCH */