/** STYLES FOR THE FILTER (PARENT) **/
.filter {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-content: center;
    height: 1.7rem;
    width: 100%;
}
.filter * {
    font-size: 1rem;
}
/** STYLES FOR THE FILTER END **/



/* STYLES FOR THE DROPDOWN */

.categories-component {
    transform: translateX(calc(var(--dropdown-padding-horizontal) * 0.7));
    z-index: 10;
    
    width: auto;
    height: 100%;
    
}


.category-component_dropdown-btn {
    width: 100%;
    height: 100%;
    padding: var(--dropdown-padding-vertical) var(--dropdown-padding-horizontal);
    display: flex;
    justify-content: center;
    align-items: center;

}
.dropdown-btn_small {
    min-width: 1.5rem;
    max-height: 0.8rem;
}
.dropdown-btn_small > img {
    width: 100%;
}

.category-component_dropdown-btn > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.category-component_dropdown-btn_icon {
    width: 0.8rem;
}
.category-component_dropdown-btn_icon--flip {
    transform: rotate(180deg);

    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 300ms;
}

.categories-component_menu-wrapper {
    position: relative;
    visibility: hidden;
    opacity: 0;

    transform: translateY(1.5rem);
    transition-property: transform, opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: ease;

}
.categories-component_menu-wrapper--show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
    height: 100%;
}

.categories-component_menu {
    position: absolute;
    height: 300%;
    margin-top: 10%;
    padding: var(--dropdown-padding-vertical) var(--dropdown-padding-horizontal);
    overflow-x: visible;
    overflow-y: scroll;
    background-color: var(--extra-light-color);
    border-radius: 0.9rem;
}

/** STYLES FOR THE DROPDOWN END **/



/* STYLES FOR THE SEARCH */
.search-component {
    background-color: var(--dark-elements-color);
    height: 100%;
    border: solid var(--light-elements-color) 0.1rem;
    border-radius: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateX( calc( var(--dropdown-padding-horizontal) * -0.7));
    
    padding: var(--dropdown-padding-vertical) var(--dropdown-padding-horizontal);
}
.search-component_bar {
    background-color: transparent;
    color: #fff;
    border: none;
    width: 100%;
    text-indent: calc(var(--dropdown-padding-horizontal) * 2);

}
.search-component_X-btn {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1rem;
}

.search-component_search-icon {
    width: 0.8rem;
    transform: translateX(0.8rem);
}
/* STYLES FOR THE SEARCH ENDS */