footer {
    width: 100%;
    background-color: #12002F;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer * {
    color: #fff;
}

footer span {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(300px + 3vw), 1fr));

    gap: 5%;
    /* justify-items: center; */
}

.footer_me {
    display: flex;
    flex-direction: column;
    align-items: center;
}
