/* Styles for the header Part*/
header {
    width: 100%;
}
.header--default {
    background-color: var(--vivid-elements-color);
    background-image: var(--header-gradient), url("src/assets/nature-g4ed01dd97_1280.jpg");
    background-size: cover;
    padding: 2rem 0;
    padding-top: 0.8rem; 

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.8rem;
    justify-items: center;

}
.header--fixed {
    position: fixed;
    top: 0 ;
    background-color: var(--light-elements-color);
    padding: 0.8rem 0;
}
.header_apptitle {
    font-size: clamp(calc(0.8rem + 2.5vw), 6vw, 2.5rem);
    color: var(--extra-light-color);
    font-family: "CHASER";
}

.logo-icon, .profile-picture {
    width: clamp(calc(calc(25px + 2vw)), 5%, 3rem);
}