/* GENERIC NAVBAR AND ITS CONTENT'S STYLES */
.navbar {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.navbar-content-elm {
    width: 100%;
    font-weight: bold;
    font-size: clamp(0.7rem, 5vw, calc(20px + 0.2vw));
}
.navbar-logo-elm {
    width: clamp(calc(calc(25px + 2vw)), 5%, 3rem);
    

}
.navbar button {
    border: none;
}
/*END: GENERIC NAVBAR AND ITS CONTENT'S STYLES */


/* STYLES FOR EACH NAVBAR'S CONTENT ON MOBILE VIEW */

/* Case: Default */
.navbar_default {
    display:  flex;
    gap: clamp( calc(20px), calc(0.5rem + 9vw), calc(50rem) ) ;
    align-items: center;
}
.navbar_default a, .navbar_default button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: var(--extra-light-color);
}

.navbar_default_infos {
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content clamp(calc(calc(20px + 2vw)), 5%, 3rem);
    column-gap: 7%;
    justify-content: end;
    align-items: center;
}
.navbar_default_infos > li > button > img {
    width: 100%;
    border-radius: 50%;
} 


/* Case: Nothing is focused */
.navbar_searchbar-nofocus {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.navbar_searchbar-nofocus_logo > svg{ 
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Case: Searchbar focused within navbar */
.navbar_expanded-searchbar {
   display: flex; 
   justify-content: center;
   align-items: center;   
}


/*END: STYLES FOR EACH NAVBAR'S CONTENT ON MOBILE VIEW */

