.pagination {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination * {
    color: #fff;
}
.pagination button {
    /* background-color: transparent; */
    border: none;
    font-size: 1.5rem;
    padding: 0%;
}

.pagination_numbers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .pagination_numbers_btn {
} */

.pagination_left, .pagination_right {
    width: 2rem;
}

.pagination_arrows {
    font-size: 2rem;
}
.highlight-number {
    background-color: black;
}

