/* Global styles for this component */
ul, ol, li {
  list-style: none;
}

input:focus,
button:focus
{
  outline: none;
}

.button {
  border-radius: 0.9rem;
  border: none;
  background-color:white;
}

img {
  max-width: 100%;
}

.hide {
  visibility: hidden;
}
.collapse {
  visibility: collapse;
}
/* Global styles for this component ENDS*/


/* Styles for the Filterable Galery Component */
.filterable-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg);

  overflow-x: hidden;
}

/* Styles for the Filterable Galery Component Ends*/




/* Styles for the header Part*/
header {
  width: 100%;
  background-color: var(--body-bg);

  top: 0;
  position: fixed;
  padding: 2rem 0;

}
.header--on-coloumn {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-items: center;


}
.header--rowable {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: space-between;
  padding-left: calc(var(--dropdown-padding-horizontal) * 0.7);
}
@media (max-width: 530px) {
  .header--on-coloumn, .header--rowable {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding-left: 0;
    padding-right: 0;
  }
}


/* Styles for the header Part Ends */


/* Styles for the Main part */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-msg-container_msg {
  color: #fff;
}

/* Styles for the Main part ENDS*/