:root {
  --body-bg:#7B43D6;
}

/* Global styles for this component */
ul, ol, li {
  list-style: none;
}

input:focus,
button:focus
{
  outline: none;
}

.button {
  border-radius: 0.9rem;
  border: none;
  background-color:white;
}

img {
  max-width: 100%;
}

.hide {
  visibility: hidden;
}
.collapse {
  visibility: collapse;
}
/* Global styles for this component ENDS*/


/* Styles for the Filterable Galery Component */
.filterable-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg);

  overflow-x: hidden;
}

/* Styles for the Filterable Galery Component Ends*/




/* Styles for the header Part*/
header {
  width: 100%;
  background-color: var(--body-bg);

  top: 0;
  position: fixed;
}
.header--on-coloumn {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.header--rowable {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 530px) {
  .header--on-coloumn, .header--rowable {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
}


/* Styles for the header Part Ends */


/* Styles for the Main part */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-msg-container_msg {
  color: #fff;
}

/* Styles for the Main part ENDS*/