* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --regular-font-size: clamp(1rem, 2vw, calc(2rem + 1.2vw));
  --body-bg:#7B43D6;

  --dropdown-padding-vertical: 0.5rem;
  --dropdown-padding-horizontal: 1rem;

  --elm-radius: 5%
}
  
@font-face {
  font-family: "SpaceGrotesk", sans-serif;
  src:local("SpaceGrotesk"), url("./assets/fonts/SpaceGrotesk/SpaceGrotesk[wght].ttf") format("truetype");
  font-weight: 1 1000; /*The range of the weight*/
}

@font-face {
  font-family: "CHASER";
  src: local("CHASER"), url("./assets/fonts/CHASER/CHASER.ttf") format("truetype");
  font-weight: bold;
}

html {
  font-size: var(--regular-font-size);
}

body {
  font-family: "SpaceGrotesk";
  font-weight: normal;
}

#root {
  width: 100%;
}