* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --regular-font-size: clamp(1rem, 2vw, calc(2rem + 1.2vw));
  --body-bg:#7B43D6;

  --dropdown-padding-vertical: 0.5rem;
  --dropdown-padding-horizontal: 1rem;

  --elm-radius: 5%;

  --dark-elements-color: #05000D;
  --light-elements-color: #EAEAEA;
  --vivid-elements-color: #7B43D6;
  --vivid-contrast-color: #F1E9FF;
  --extra-light-color: #ffffff;

  --dark-transparent: rgba(5, 0, 13, 0.95);

  --dark-gray: #575757;
  --light-gray: #BABABA;
  /* --header-gradient: linear-gradient(to bottom,  rgba(123, 67, 214, 0.95), rgb(123, 67, 214, 0.25)) */
  --header-gradient: linear-gradient(to bottom,  rgba(29, 8, 63, 0.90),  rgba(5, 0, 13, 0.25));


  --dropdown-sameness-translate-value: calc(var(--dropdown-padding-horizontal) * 0.7);
  --searchbar-sameness-translate-value: calc(var(--dropdown-padding-horizontal) * -0.7);
}
  
@font-face {
  font-family: "SpaceGrotesk", sans-serif;
  src:local("SpaceGrotesk"), url("./assets/fonts/SpaceGrotesk/SpaceGrotesk[wght].ttf") format("truetype");
  font-weight: 1 1000; /*The range of the weight*/
}

@font-face {
  font-family: "CHASER";
  src: local("CHASER"), url("./assets/fonts/CHASER/CHASER.ttf") format("truetype");
  font-weight: bold;
}

html {
  font-size: var(--regular-font-size);
}

body {
  font-family: "SpaceGrotesk";
  font-weight: normal;
}

#root {
  width: 100%;
}